@import "_commons";
@import "_fonts";
@import "_footer";
@import "_menu";

main img{
    padding-left: 10px;
}

body{
    background-image: url(../fotos/fondo3-min.jpg);
    height: 100vh;
}

p{
    color: rgb(77, 77, 77);
    font-size: 2rem;
    letter-spacing: 0.8px;
    word-spacing: 2px;
        
}

 h4{
    color: rgb(74, 148, 223);
    font-weight: 500;
}
    
h3{
    color: #F8485E;
    font-weight: 500;
        
}
    
h2{
    font-size: 3rem;
    color: #89c4fb;
    font-weight: 500;
    margin: 0% 43.5%;
}
    
h1{
    font-size: 3rem; 
    color: #89c4fb;
    font-weight: 500;
    text-align: center;
}

div section h3{
    display: inline-block;
}
div section p{
    display: inline-block;
}
    
div section div{
    display: inline-block;
}



.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;

}

#grid-header{
    grid-area: header;
}

#grid-nav{
    grid-area: nav;
}

#grid-main{
    grid-area: main;
}


#grid-foot{
    grid-area: foot;
} 

.template-areas{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25vh 5vh 60vh 10vh;
    grid-template-areas: "header" "nav" "main" "foot";
}
 
.pie{
    margin-top: 150rem;
}

@media only screen and (min-width: 540px){
	.body{
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 25vh 5vh 60vh 10vh;
		grid-template-areas: "header header header header" "nav nav nav nav" "main main main main" "foot foot foot foot";
	}
}

@media only screen and (min-width: 768px){
	.body{
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 25vh 5vh 60vh 10vh;
		grid-template-areas: "header header header header" "nav nav nav nav" "main main main main" "foot foot foot foot";
	}
}

@media only screen and (min-width: 1200px){
	.body{
		grid-template-columns: repeat(4,25%);
		grid-template-rows: 25vh 5vh 60vh 10vh;
		grid-template-areas: "header header header header" "nav nav nav nav" "main main main main" "foot foot foot foot";
	}  
}
